<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form class="form-horizontal" name="rfeForm">
                <fieldset>
                    <legend class="text-center"><i class="fa fa-briefcase"></i> New RFE</legend>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">Title*</label>
                        <div class="col-md-9">
                            <input id="title" ng-model="rfe.title" name="rfe_title" type="text" placeholder="rfe title" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">Description*</label>
                        <div class="col-md-9">
                            <text-angular ta-toolbar="[['p','bold','pre', 'quote','italics', 'underline', 'ul', 'ol', 'indent', 'outdent','insertLink','insertImage', 'insertVideo']]" ng-model="rfe.description" id="description" name="rfe_description" placeholder="Enter rfe description here..." required></text-angular>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="otherinfo"></label>
                        <div class="col-md-9">
                            <accordion>
                                <accordion-group is-open="accordion.status.isFirstOpen">
                                    <accordion-heading>
                                        <i class="fa" ng-class="{'fa-chevron-circle-down': accordion.status.open, 'fa-chevron-circle-right': !accordion.status.open}"></i>&nbsp;&nbsp;&nbsp;RFE info
                                    </accordion-heading>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="severity">Severity</label>
                                        <div class="col-md-3">
                                            <select name="rfe_severity" id="rfe_severity" ng-model="rfe.severity" ng-options="severity for severity in config.severity" class="form-control input-sm">
                                                <option value="" selected></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="severity">Version*</label>
                                        <div class="col-md-3">
                                            <select name="rfe_version" id="rfe_version" ng-model="rfe.version" ng-options="version for version in config.version" class="form-control input-sm" required>
                                                <option value="" selected></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="fixin">Fix in</label>
                                        <div class="col-md-3">
                                            <select name="rfe_tofixin" id="rfe_tofixin" ng-model="rfe.tofixin" ng-options="tofixin for tofixin in config.tofixin" class="form-control input-sm">
                                                <option value="" selected></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- assign to input-->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="assignTo">Assign To</label>
                                        <div class="col-md-3">
                                            <select name="rfe_assignTo" id="rfe_assignTo" ng-model="rfe.assignTo" ng-options="user.name for user in config.users" class="form-control input-sm">
                                                <option value="" selected></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="category">Category*</label>
                                        <div class="col-md-3">
                                            <select name="rfe_category" id="rfe_category" ng-model="rfe.category" ng-options="category for category in config.category" class="form-control input-sm" required>
                                                <option value="" selected></option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="priority">Priority</label>
                                        <div class="col-md-3">
                                            <select name="rfe_priority" id="rfe_priority" ng-model="rfe.priority" ng-options="(priority.level + ' - ' + priority.title) for priority in config.priority" class="form-control input-sm">
                                                <option value="" selected></option>
                                            </select>
                                        </div>
                                    </div>
                                    <legend>
                                        <h5 class="help-block"><i class="fa fa-file"></i> Attach relevant files</h5>
                                    </legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="customerimpact">Upload files</label>
                                        <div class="col-md-6">
                                            <input type="file" class="form-control-static" file-upload multiple/>
                                            <ul>
                                                <li ng-repeat="file in files">{{file.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <legend><h5 class="help-block"><i class="fa fa-exclamation-triangle"></i> Notes</h5></legend>   
                                    <div class="form-group">
                                            <label class="col-md-2 control-label" for="note">Notes</label>
                                            <div class="col-md-6">
                                                <textarea class="form-control" ng-model="rfe.note" id="note" name="note" placeholder="Enter notes for the rfe here..." rows="4"></textarea>
                                            </div>
                                        </div>

                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <!-- Form actions -->
                    <div class="form-group">
                        <div class="col-md-7 text-right">
                            <button ng-click="createNewRFE()" class="btn btn-primary btn-lg" ng-disabled="rfeForm.$invalid">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
