<div class="form-box" id="login-box">
    <div class="header">Sign In</div>
    <form>
        <div class="body bg-gray">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" ng-model="username" ng-required="username" placeholder="login with your MarkLogic username" name="username" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="password" placeholder="password" name="password" type="password" value="">
                </div>
                <div class="form-group">
                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                </div>
            </fieldset>
        </div>
        <div class="footer bg-gray">
            <button type="submit" class="btn bg-olive btn-block" ng-click="login()">Sign me in</button>
            Not Registered? <a href="/register">Register here</a>
        </div>
    </form>
</div>
