<div class="modal-content">
    <div class="modal-header bg-olive">
    <h3 class="modal-title" ng-bind-html="modalOptions.headerText"></h3>
</div>
<form name="modalForm">
<div class="modal-body">
    <p ng-bind-html="modalOptions.bodyText"></p>
    <div class="col-md-12" ng-init="editTitle.newTitle = modalOptions.scope.oldTitle">
        {{modalOptions.scope.taskTitle}}
     
            <!-- when editing bug title -->
            <div ng-if="modalOptions.scope.editTitle">
                <div class="form-group">
                    <textarea class="form-control" name="newTitle" value="{{editTitle.newTitle}}" placeholder="" ng-model="editTitle.newTitle" rows="3" required></textarea>
                </div>
            </div>
            <!--  when setting duplicate bug  -->
            <div ng-if="modalOptions.scope.duplicate">
                <div class="form-group">
                    <input type="number" name="originalBug" value="{{originalBug.id}}" placeholder="Original Bug Id" ng-model="originalBug.id" class="form-control" required>
                </div>
                <div class="form-group">
                    <text-angular ta-toolbar="[['p','bold','pre','quote', 'italics', 'underline', 'ul', 'ol', 'indent', 'outdent','insertLink','insertImage', 'insertVideo']]" ng-model="originalBug.comment" id="comment" name="comment" placeholder="Optional comment"></text-angular>
                </div>
            </div>
            <!--  when setting 'not a bug' status  -->
            <div ng-if="modalOptions.scope.notABug">
                <div class="form-group">
                    <text-angular ta-toolbar="[['p','bold','pre','quote', 'italics', 'underline', 'ul', 'ol', 'indent', 'outdent','insertLink','insertImage', 'insertVideo']]" ng-model="notABug.comment" id="comment" name="comment" placeholder="Optional comment"></text-angular>
                </div>
            </div>
            <!-- when saving new query -->
            <table class="table" ng-if="modalOptions.scope.newQuery">
                <tbody>
                    <tr>
                        <td colspan="" rowspan="" class="hidden-md"><b>Name</b>
                        </td>
                        <td colspan="" rowspan="">
                            <input type="text" ng-model="newQuery.name" value="{{newQuery.name}}" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="" rowspan="" class="hidden-md"><b>Description</b>
                        </td>
                        <td colspan="" rowspan="">
                            <input type="text" ng-model="newQuery.description" value="{{newQuery.description}}" class="form-control">
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--  when  creating subtask or procedural task -->
            <table class="table table-striped" ng-if="modalOptions.scope.config">
                <tbody>
                    <tr>
                        <td colspan="" rowspan="" class="hidden-md"><b>Assigned To</b>
                        </td>
                        <td colspan="" rowspan="">
                            <select id="assignTo" ng-model="newItem.assignTo" name="assignTo" type="text" class="form-control input-sm" ng-options="user.name group by user.name[0] for user in modalOptions.scope.config.users" required>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="" rowspan="" class="hidden-md"><b>To fix in</b>
                        </td>
                        <td colspan="" rowspan="">
                            <select id="tofixin" ng-model="newItem.tofixin" name="tofixin" type="text" class="form-control input-sm" ng-options="tofixin for tofixin in modalOptions.scope.config.tofixin | orderBy: tofixin" required>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="" rowspan="" class="hidden-md"><b>Priority</b>
                        </td>
                        <td>
                            <select id="priority" ng-model="newItem.priority" name="priority" type="text" class="form-control input-sm" ng-options="(priority.level + ' - ' + priority.title) for priority in modalOptions.scope.config.priority" required>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<div class="modal-footer" style="border-top: 0px">
    <button type="button" class="btn btn-primary btn-danger " ng-if="modalOptions.showCloseButton" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button class="btn btn-primary btn-success" ng-if="modalOptions.showActionButton" data-ng-click="modalOptions.ok();" ng-disabled="modalForm.$invalid" id="modalSuccessBtn">{{modalOptions.actionButtonText}}</button>
</div>
</form>
</div>