<div class="container-fluid">
    <div id="adv-search-form" class="row">
        <div class="col-md-1">
            <div class="form-group">
                <label class="sm">Kind</label>
                <ul class="list-inline">
                    <li ng-repeat="kind in config.kind">
                       <!--  <div class="checkbox">
                            <label class="xsm-label">
                                <input type="checkbox" name="kind" ng-model="kind.selected" value="{{kind.selected}}" ng-disabled="kind.name == 'RFE' || kind.name == 'Other'">&nbsp;{{kind.name}}&nbsp;
                            </label>
                        </div> -->
                     <!--    <div class="radio">
                            <label class="xsm-label">
                                <input type="radio" name="kind" ng-model="kind.selected" ng-value="true" ng-disabled="kind.name == 'RFE' || kind.name == 'Other'" ng-change="processRadio(kind)">&nbsp;{{kind.name}}&nbsp;
                            </label>
                        </div> -->
                        <div class="radio">
                            <label class="xsm-label">
                                <input type="radio" name="kind" ng-model="form.kind" value="{{kind}}" ng-disabled="kind == 'Other'">&nbsp;{{kind}}&nbsp;
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <!-- <p class="text-center"><b>Status</b></b> -->
                <label class="sm">Status</label>
                <ul class="list-inline">
                    <li ng-repeat="status in form.status">
                        <div class="checkbox">
                            <label class="xsm-label">
                                <input type="checkbox" name="status" ng-model="status.selected" value="{{status.selected}}">&nbsp;{{status.name | capitalize}}&nbsp;&nbsp;&nbsp;
                            </label>
                        </div>
                    </li>
                    <li id="nvfe">
                        <div class="checkbox" tooltip-animation="false" tooltip-trigger tooltip-placement="bottom" tooltip="Select New,Verify,Fixed & External">
                            <label class="xsm-label">
                                <input type="checkbox" name="n/v/f/e" value="{{nvfe}}" ng-model="nvfe" ng-click="selectNVFE(nvfe)">&nbsp;n/v/f/e
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <!-- <p class="text-center"><b>Severity</b></b> -->
                <label class="sm">Severity</label>
                <ul class="list-unstyled">
                    <li ng-repeat="severity in form.severity">
                        <div class="checkbox">
                            <label class="xsm-label">
                                <input type="checkbox" name="severity" ng-model="severity.selected" value="{{severity.selected}}">&nbsp;{{severity.name}}
                            </label>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="margin-right:10px">
                <label class="sm">Assigned to</label>
                <br>
                <select name="assignTo" id="assignTo" ng-model="form.assignTo" ng-options="user.username as user.name group by user.name[0] for user in config.users" class="form-control input-xsm">
                    <option value="" selected></option>
                </select>
                <a ng-href="" title="clear" ng-click="clearSelection('assignTo')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group" style="margin-right:10px">
                <label class="sm">Category</label>
                <br>
                <select name="category" id="category" ng-model="form.category" ng-options="category for category in config.category" class="form-control input-xsm" ng-selected="form.category === category">
                    <option value="" selected></option>
                </select>
                <a ng-href="" title="clear" ng-click="clearSelection('category')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group" style="margin-right:10px">
                <label class="sm">Fixed in</label>
                <br>
                <select name="fixedin" id="fixedin" ng-model="form.fixedin" ng-options="version for version in config.version" class="form-control input-xsm" ng-selected="form.fixedin === version">
                    <option value="" selected></option>
                </select>
                <a ng-href="" title="clear" ng-click="clearSelection('fixedin')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group" style="margin-right:10px">
                <label class="sm">Submitted By</label>
                <br>
                <select name="submittedBy" id="submittedBy" ng-model="form.submittedBy" 
                ng-options="user.username as user.name group by user.name[0] for user in config.users" class="form-control input-xsm">

                    <option value="" selected></option>
                </select>
                <a ng-href="" title="clear" ng-click="clearSelection('submittedBy')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group" style="margin-right:10px">
                <label class="sm">Version</label>
                <br>
                <select name="version" id="version" ng-model="form.version" ng-options="version for version in config.version" class="form-control input-xsm" ng-selected="form.version === version">
                    <option value="" selected></option>
                </select>
                <a ng-href="" title="clear" ng-click="clearSelection('version')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group">
                <label class="sm">To Fix in</label>
                <br>
                <select name="tofixin" id="tofixin" ng-model="form.tofixin" ng-options="tofixin for tofixin in config.tofixin" class="form-control input-xsm" ng-selected="form.tofixin === tofixin">
                    <option value="" selected></option>
                </select>
                <a ng-href="" title="clear" ng-click="clearSelection('tofixin')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group" style="margin-right:10px">
                <label class="sm">From</label>
                <br>
                <!--  <p class="input-group"> -->
                <input type="text" class="form-control input-xsm" datepicker-popup="{{cal.format}}" ng-model="form.range.from" is-open="cal.fromOpened" date-disabled="disabled(date, mode)" show-weeks="false" ng-click="cal.open('from', $event)" close-text="Close" />
                 <a ng-href="" title="clear" ng-click="clearSelection('from')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                <!-- </p> -->
            </div>
            <div class="form-group">
                <label class="sm">To</label>
                <br>
                <!--  <p class="input-group"> -->
                <input type="text" class="form-control input-xsm" datepicker-popup="{{cal.format}}" ng-model="form.range.to" is-open="cal.toOpened" min-date="minDate" date-disabled="disabled(date, mode)" show-weeks="false" ng-click="cal.open('to', $event)" close-text="Close" />
                 <a ng-href="" title="clear" ng-click="clearSelection('to')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                <!--   </p> -->
            </div>

        </div>
        <div class="col-md-1">
            <div class="form-group">
                <a ng-href="" ng-click="clear()" class="btn btn-sm btn-danger"><i class="fa fa-eraser"></i> Reset</a>
            </div>
        </div>

    </div>
</div>
<!-- <b>Criteria:<br></b><pre>{{prettyForm}}</pre>
 -->
