<div class="container-fluid">
    <div id="adv-search-form" class="row">
        <div class="col-md-1">
            <div class="form-group">
                <!-- <p class="text-center"><b>Kind</b></b> -->
                <label class="sm">Kind</label>
                <ul class="list-inline">
                    <li ng-repeat="kind in form.kind">
                        <div class="checkbox">   
                            <label class="xsm-label">
                                <input type="checkbox" name="kind"  ng-model="kind.value" value="{{kind.value}}" ng-change="addSelectedValueToQuery()" ng-disabled="kind.name !== 'Bug'">&nbsp;{{kind.name}}&nbsp;
                            </label>
                        </div>
                    </li>
                </ul>    
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <!-- <p class="text-center"><b>Status</b></b> -->
                <label class="sm">Status</label>
                <ul class="list-inline">
                    <li ng-repeat="status in form.status">
                        <div class="checkbox">
                            <label class="xsm-label">
                                <input type="checkbox" name="status" ng-model="status.value" value="{{status.value}}" ng-change="addSelectedValueToQuery()">&nbsp;{{status.name}}&nbsp;&nbsp;&nbsp;
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label class="xsm-label">
                                <input type="checkbox" name="n/v/f/e"  value="n/v/f/e" ng-model="nvfe" ng-click="selectNVFE(!nvfe)">&nbsp;n/v/f/e
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <!-- <p class="text-center"><b>Severity</b></b> -->
                <label class="sm">Severity</label>
                <ul class="list-inline">
                    <li ng-repeat="severity in form.severity">
                        <div class="checkbox">
                            <label class="xsm-label">
                                <input type="checkbox" name="severity" ng-model="severity.value" value="{{severity.value}}" ng-change="addSelectedValueToQuery()">&nbsp;{{severity.name}}
                            </label>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="sm">Assigned to</label>
                <br>
                <select id="assignTo" ng-model="form.assignTo" name="assignTo" type="text" class="form-control input-xsm" ng-change="addSelectedValueToQuery()">
                <option value=""></option>
                    <option  ng-repeat="user in config.users" value="{{user.username}}" ng-selected="form.assignTo === user.username">{{user.name}}</option>
                </select>
                <a ng-href="" title="clear" ng-click="clearSelection('assignTo')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group">
                <label class="sm">Category</label>
                <br>
                <select id="category" ng-model="form.category" name="category" type="text" class="form-control input-xsm" ng-change="addSelectedValueToQuery()">
                    <option value="" selected></option>
                    <option ng-repeat="category in config.category" ng-selected="form.category === category" value="{{category}}">{{category}}</option>
                </select>
                 <a ng-href="" title="clear" ng-click="clearSelection('category')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group">
                <label class="sm">Fixed in</label>
                <br>
                <select id="fixedin" ng-model="form.fixedin"  name="fixedin" type="text" class="form-control input-xsm" ng-change="addSelectedValueToQuery()">
                <option value="" selected></option>
                    <option ng-repeat="version in config.version" ng-selected="form.fixedin === version" value="{{version}}">{{version}}</option>
                </select> 
                 <a ng-href="" title="clear" ng-click="clearSelection('fixedin')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group">
                <label class="sm">Submitted By</label>
                <br>
                <select id="submittedBy" ng-model="form.submittedBy" name="submittedBy" type="text" class="form-control input-xsm" ng-change="addSelectedValueToQuery()">
                <option value="" selected></option>
                    <option ng-repeat="user in config.users" ng-selected="form.submittedBy === user.username" value="{{user.username}}">{{user.name}}</option>
                </select> 
                 <a ng-href="" title="clear" ng-click="clearSelection('submittedBy')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group">
                <label class="sm">Version</label>
                <br>
                <select id="version" ng-model="form.version"  name="version" type="text" class="form-control input-xsm" ng-change="addSelectedValueToQuery()">
                <option value="" selected></option>
                    <option ng-repeat="version in config.version" ng-selected="form.version === version" value="{{version}}">{{version}}</option>
                </select>
                 <a ng-href="" title="clear" ng-click="clearSelection('version')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <div class="form-group">
                <label class="sm">To Fix in</label>
                <br>
                <select id="tofixin" ng-model="form.tofixin"  name="tofixin" type="text" class="form-control input-xsm" ng-change="addSelectedValueToQuery()">
                <option value="" selected></option>
                      <option ng-repeat="version in config.tofixin" ng-selected="form.tofixin === version" value="{{version}}">{{version}}</option>
                </select>
                 <a ng-href="" title="clear" ng-click="clearSelection('tofixin')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
        </div>
   <div class="col-md-2">
            <div class="form-group">
			<button class="btn btn-sm btn-danger" ng-click="clear()">Clear</button><br><br>
            </div>
        </div>

    </div>
</div>
<!-- <b>Criteria:<br></b><pre>{{prettyForm}}</pre>
 -->