<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-primary btn-xs" data-widget="collapse" tooltip-trigger tooltip-placement="top" tooltip="minimize" id="facetClose" ng-click="hideFacetBox()">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
    <label for="groups">Groups</label>
    <select name="criteria" id="criteria" ng-model="groupCriteria" ng-options="groupCriteria.label for groupCriteria in config.groupCriteria" class="form-control" ng-change="setGroupCriteria(groupCriteria)"><option value="" selected>select criterion</option></select>
    <div class="form-group" id="facet_grouplist">
   
     <div ivh-treeview="config.groups" ivh-treeview-filter="searchGroupTree" ivh-treeview-expand-to-depth="0" ivh-treeview-validate="false" ivh-treeview-change-handler="selectGroups"></div>
   
    </div>
     
        <ul ng-repeat="facet in facetOrder" class="list-unstyled" name="{{facet.type}}" ng-if="form.facets[facet.type].length > 0">
            <div class="form-group">
                <li>
                    <label>{{ facet.title }} ({{form.facets[facet.type].length}})</label>

                    <ul ng-repeat="f in form.facets[facet.type]" class="list-unstyled" ng-if="!showFacetDropdown2(facet.type)">
                        <!-- facets as checkboxes -->
                        <li style="margin-left: 10px">
                            <label class="xsm-label">
                                <input type="checkbox" name="{{facet.type}}" ng-model="f.selected" value="{{f}}">
                            </label>
                            <span class="badge bg-olive pull-right">{{f.count}}</span> {{f.name | capitalize}}
                        </li>
                    </ul>
                </li> 

                <!-- facets as dropdown -->
                <select name="{{facet.type}}" id="" ng-model="f" ng-options="(f.name + ' ' + '(' + f.count+')') for f in form.facets[facet.type]" ng-if="showFacetDropdown2(facet.type)" ng-change="addSelectedValueToQuery2(facet.type, f)" class="form-control input-sm">
                    <option value="">-- Select --</option>
                </select>

            </div>

        </ul>

    </div>

    <!-- /.box-body -->
</div>
