<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-primary btn-xs" data-widget="collapse" tooltip-animation="false" tooltip-trigger tooltip-placement="top" tooltip="minimize" id="facetClose" ng-click="userPref.toggleFacetBox('hide')">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
    <label for="groups">Groups</label>
    <select name="criteria" id="criteria" ng-model="groupCriteria" ng-options="groupCriteria.label for groupCriteria in config.groupCriteria" ng-change="setGroupCriteria(groupCriteria)" class="form-control input-xsm"><option value="">select criterion</option></select>
    <div class="form-group" style="margin-top:2px;">
            <input type="search" ng-model="searchGroupTree" class="form-control input-xsm" placeholder="search group">
            <small><a href="" ng-click="expand()" class="pull-left" style="padding-top:5px;"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span>Expand</a></small>
            <small><a href="" ng-click="collapse()" class="pull-right" style="padding-top:5px;"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>Collapse</a></small>
        </div>
       
     <div id="facet_grouplist" ivh-treeview="form.groups" ivh-treeview-expand-to-depth="0"  ivh-treeview-filter="searchGroupTree" ivh-treeview-validate="true" ivh-treeview-default-selected-state="false" ivh-treeview-change-handler="selectGroups"></div>
  
     
        <ul ng-repeat="facet in facetOrder" class="list-unstyled" name="{{facet.type}}" ng-if="form.facets[facet.type].length > 0">
            <div class="form-group">
                <li>
                    <label>{{ facet.title }} ({{form.facets[facet.type].length}})</label>

                    <ul ng-repeat="f in form.facets[facet.type]" class="list-unstyled" ng-if="!showFacetDropdown2(facet.type)">
                        <!-- facets as checkboxes -->
                        <li style="margin-left: 10px">
                            <label class="xsm-label">
                                <input type="checkbox" name="{{facet.type}}" ng-model="f.selected" value="{{f}}">
                            </label>
                            <span class="badge bg-olive pull-right">{{f.count}}</span> {{f.name | capitalize}}
                        </li>
                    </ul>
                </li> 

                <!-- facets as dropdown -->
                <select name="{{facet.type}}" id="" ng-model="f" ng-options="(f.name + ' ' + '(' + f.count+')') for f in form.facets[facet.type]" ng-if="showFacetDropdown2(facet.type)" ng-change="addSelectedValueToQuery2(facet.type, f)" class="form-control input-xsm">
                    <option value="">-- Select --</option>
                </select>

            </div>

        </ul>

    </div>

    <!-- /.box-body -->
</div>
