<div class="well">

    <form class="form-inline" name="searchForm">
        <fieldset>
            <div class="row">
                <div class="col-sm-10 col-md-10">
                    <div class="input-group input-group-sm">
                        <input type="text" id="q" name="q" ng-model="form.q" class="form-control" placeholder="search">
                        <span class="input-group-btn">
                         <button class="btn btn-info btn-flat bg-green" type="button" ng-click="search()" id="search">Search</button>
                 </span>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="form-group">
                        <a ng-href="" id="advSrch" ng-click="!showAdvancedSearch()">&nbsp;<small>Advanced Search</small></a> &nbsp;&nbsp;&nbsp;
                        <label class="xsm-label">
                            <input type="checkbox" name="userDefaultSearch" ng-model="userDefaultSearch" ng-value="form.userDefaultSearch" ng-click="saveUserDefaultSearch()"> Make this my default search
                        </label>
                    </div>

                </div>
            </div>
            <div id="advanced_search" ng-if="showMore">
                <div ng-include src="'app/main/partials/advSearch.partial.html'"></div>
            </div>
        </fieldset>
    </form>
</div>
