<div class="container-fluid" style="padding-right: 0px">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{totalItems.all}} Tasks <small ng-if="searchMetrics['total-time'] > 0">({{searchMetrics['total-time']}})</small>
 <select name="pagelength" id="pagelength" ng-model="form.pageLength" ng-change="userPref.setPageLength(form.pageLength)" ng-options="length for length in pageLengthOptions" class="input-xsm" tooltip-animation="false" tooltip-trigger tooltip-placement="right" tooltip="items per page">
 </select>
            </h3>
            <div class="box-tools pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="searchtask" class="form-control" placeholder="filter" ng-model-options="{debounce: 150}">
                    </div>
                    <div class="form-group">
                        <div class="btn-group-vertical btn-group-xs">
                            <label class="btn" ng-model="userPref.doubleRowTable" ng-change="userPref.setTableStyle(1)" btn-radio="'1'" tooltip-trigger tooltip-animation="false" tooltip-placement="top" tooltip="1 row table">&nbsp;<i class="fa fa-minus"></i>&nbsp;</label>
                            <label class="btn" ng-model="userPref.doubleRowTable" ng-change="userPref.setTableStyle(2)" btn-radio="'2'" tooltip-animation="false" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" tooltip="2 row table"><i class="fa"><b style="font-size:16px">&nbsp;=&nbsp;</b></i></i>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped table-responsive table-condensed pull-left table-nowrap" ng-if="userPref.doubleRowTable">
               <thead>
                        <tr ng-init="reverse=false">
                            <th><a href="" ng-click="reverse=!reverse; order('id', reverse)">Id</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('severity,id', reverse)">Severity</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('priority.level,id', reverse)">Priority</a>
                            </th>
                            <!-- <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('submittedBy.username', reverse)">Submitted by</a>
                            </th> -->
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('category,id', reverse)">Category</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('version,id', reverse)">Version</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('tofixin,id', reverse)">Fix in</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('status,id', reverse)">Status</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('assignTo.username,id', reverse)">Assigned to</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('subTasks,id', reverse)">Sub Tasks</a>
                            </th>
                        </tr>
                    </thead>
                <tbody class="animate-repeat" ng-repeat="task in tasks | filter:searchtask track by task.id ">
                        <tr>
                            <td><a ng-href="/task/{{task.id}}">{{::task.id}}</a>
                            </td>
                            <td style="max-width:120px" class="hidden-xs">{{::task.severity}}</td>
                            <td class="hidden-xs">
                                <a tooltip-trigger tooltip-animation="false"  tooltip-placement="top" tooltip="{{task.priority.title}}" href="#">{{::task.priority.level}}</a>
                            </td>
                            <!--  <td style="max-width:200px" class="hidden-xs">{{::task.submittedBy.name}}</td> -->
                            <td class="hidden-xs">{{::task.category}}</td>
                            <td style="max-width:70px" class="hidden-xs">{{::task.version}}</td>
                            <td style="max-width:70px" class="hidden-xs">{{::task.tofixin}}</td>
                            <td class="hidden-xs">{{::task.status}}</td>
                            <td style="max-width:200px" class="hidden-xs">{{::task.assignTo.username}}</td>
                            <td style="max-width:200px" class="hidden-xs">{{::task.subTasks.length}}</td>
                        </tr>
                        <tr>
                              <td colspan=9 style="max-width: 300px">{{::task.title}}</td>
                        </tr>
                    </tbody>
            </table>
            <!-- 1 row table  -->
            <table class="table table-striped table-condensed pull-left table-nowrap" ng-if="!userPref.doubleRowTable">
                 <thead>
                        <tr ng-init="reverse=false">
                            <th><a href="" ng-click="reverse=!reverse; order('id', reverse)">Id</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('severity,id', reverse)">Severity</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('priority.level,id', reverse)">Priority</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('submittedBy.username,id', reverse)">Submitted by</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('category,id', reverse)">Category</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('version,id', reverse)">Version</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('tofixin,id', reverse)">Fix in</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('status,id', reverse)">Status</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('subTasks.lenth,id', reverse)">Sub Tasks</a>
                            </th>
                            <th class="hidden-xs"><a href="" ng-click="reverse=!reverse; order('assignTo.username,id', reverse)">Assigned to</a>
                            </th>
                            <th><a href="" ng-click="reverse=!reverse; order('title,id', reverse)">Title</a>
                            </th>
                        </tr>
                    </thead>
                <tr class="animate-repeat" ng-repeat="task in tasks | filter:searchtask track by task.id">
                        <td><a ng-href="/task/{{task.id}}">{{::task.id}}</a>
                        </td>
                        <td style="max-width:120px" class="hidden-xs">{{::task.severity}}</td>
                        <td class="hidden-xs"><a tooltip-trigger tooltip-placement="top" tooltip-animation="false" tooltip="{{task.priority.title}}" href>{{::task.priority.level}}</a>
                        </td>
                        <td style="max-width:200px" class="hidden-xs">{{::task.submittedBy.username}}</td>
                        <td class="hidden-xs">{{::task.category}}</td>
                        <td style="max-width:70px" class="hidden-xs">{{::task.version}}</td>
                        <td style="max-width:70px" class="hidden-xs">{{::task.tofixin}}</td>
                        <td class="hidden-xs">{{::task.status}}</td>
                        <td class="hidden-xs">{{::task.subTasks.length}}</td>
                        <td style="max-width:200px" class="hidden-xs">{{::task.assignTo.username}}</td>
                        <td style="max-width: 240px" tooltip-animation="false" tooltip-trigger tooltip-placement="top" tooltip="{{task.title}}">{{::task.title}}</td>
                    </tr>
            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10">
        <div class="container text-center">
            <pagination id="pager" total-items="totalItems.all" items-per-page="form.pageLength" ng-model="currentPage" ng-click="gotoPage(currentPage)" ng-hide="totalItems.tasks < form.pageLength" max-size="10" rotate="false" direction-links="false" boundary-links="true"></pagination>
        </div>
    </div>
</div>
