<div class="container-fluid">
    <legend>Import GitHub Issues</legend>
    <div class="row">
        <div class="col-xs-2" id="projects">
            <form class="form-horizontal" name="newGhProjectForm">
                <fieldset>
                    <!-- Form Name -->
                    <label>GitHub Projects ({{config.githubProjects.length}})</label>
                    <!-- Select Multiple -->
                    <div class="form-group">
                        <input type="search" ng-model="searchProject" class="form-control" placeholder="search project">
                        <br>
                        <select name="ghProject" id="ghProject" ng-model="ghProject" ng-options="project for project in config.githubProjects.sort() | filter:searchProject" multiple="multiple" class="form-control" required></select>
                    </div>
                    <!-- Text input -->
                    <div class="form-group">
                        <input ng-model="newItem.ghProject" id="newproject" name="newproject" type="text" placeholder="new github project" class="form-control input-md" required>
                        <span class="help-block">project name should be same as github project name</span>
                    </div>
                    <!-- Button (Double) -->
                    <div class="form-group">
                        <button ng-click="updateConfigOptions('githubProjects', newItem.ghProject, 'add')" id="addnewproject" name="addnewproject" class="btn btn-sm btn-success" ng-disabled="newGhProjectForm.newproject.$invalid"><i class="fa fa-plus-circle"></i> Add</button>
                        <button ng-click="updateConfigOptions('githubProjects', ghProject, 'delete')" id="deleteproject" name="deletekind" class="btn btn-sm btn-danger" ng-disabled="newGhProjectForm.ghProject.$invalid"><i class="fa fa-minus-circle"></i> Delete</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-xs-5">
            <form class="form-inline" name="importForm">
                <div class="form-group">
                    <label>Import issues from</label>
                    <select name="ghProject" id="ghProject" ng-model="importProject" ng-options="project for project in config.githubProjects.sort()" class="form-control" required>
                        <option value=""></option>
                    </select>
                </div>
                <button ng-click="importIssues(importProject, $event)" class="btn btn-sm btn-success" ng-disabled="importForm.$invalid"><i class="fa fa-github"></i> Import</button>
            </form>
                       <div id='unimported' style="margin-top:10px;">
                <label><i class="fa fa-exclamation-triangle" style="color:red"></i> Un-imported issues: <span class="badge bg-red">{{unImportedIssues.length}}</span></label>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Issue Id</th>
                            <th>Reason</th>
                            <th class="col-xs-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="issue in unImportedIssues">
                            <td><a ng-href="https://github.com/marklogic/{{issue.project}}" title="" target="_blank">{{issue.project}}</a></td>
                            <td><a ng-href="{{issue.issue_url}}" title="" target="_blank">{{issue.githubId}}</a></td>
                            <td>
                                {{issue.msg}}
                            </td>
                            <td>
                                <a href="" title="" style="color:red" ng-click="importIssue(issue.project, issue.githubId, $event)"><i class="fa fa-refresh"></i> Retry</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
      
            </div>
            <div class="col-xs-5">
 	      <div id="imported" ng-if="importedIssues">
 	      <label>Issues pulled from GitHub: <span class="badge bg-green">{{importedIssues.length}}</span></label>
                <table class="table table-striped table-condensed">
                    <!--  	<caption>Could not import these issues</caption> -->
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Issue Id</th>
                            <th>Bugtrack Id</th>
                            <th>Status</th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="issue in importedIssues">
                            <td><a ng-href="https://github.com/marklogic/{{issue.project}}" title="" target="_blank">{{issue.project}}</a></td>
                            <td><a ng-href="{{issue.issue_url}}" title="" target="_blank">{{issue.githubId}}</a></td>
                            <td><a ng-href="{{issue.bugtrack_url}}">{{issue.bugtrackId}}</a></td>
                            <td>{{issue.msg}}</td>
                            <td>
                                <a href="" title="" style="color:red" ng-show="issue.msg.substring(0,5) == 'Error'" ng-click="importIssue(issue.project, issue.githubId, $event)"><i class="fa fa-refresh"></i> Retry</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
