<div class="container-fluid">
    <legend>Configure Bug Field Options</legend>
    <div class="row">
        <div class="col-md-2" id="kind">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Form Name -->
                    <label>Kind ({{config.kind.length}})</label>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <input type="search" ng-model="searchKind" class="form-control" placeholder="search kind">
                        <br>
                        <select name="kind" id="kind" ng-model="kind" ng-options="kind for kind in config.kind.sort() | filter:searchKind" multiple="multiple" class="form-control"></select>
                    </div>

                    <!-- Text input -->
                    <div class="form-group">
                        <input ng-model="newItem.kind" id="newkind" name="newkind" type="text" placeholder="new kind" class="form-control input-md">
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <button ng-click="updateConfigOptions('kind', newItem.kind, 'add')" id="addnewkind" name="addnewkind" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</button>
                        <button ng-click="updateConfigOptions('kind', kind, 'delete')" id="deletekind" name="deletekind" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                    </div>

                </fieldset>
            </form>
        </div>


        <div class="col-md-2" id="platform">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Form Name -->
                    <label>Platforms ({{config.platform.length}})</label>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <input type="search" ng-model="searchPlatform" class="form-control" placeholder="search platform">
                        <br>
                        <select name="platform" id="platform" ng-model="platform" ng-options="platform for platform in config.platform | filter:searchPlatform" class="form-control" multiple="multiple"></select>
                    </div>

                    <!-- Text input -->
                    <div class="form-group">
                        <input ng-model="newItem.platform" id="newplatform" name="newplatform" type="text" placeholder="new platform" class="form-control input-md">
                    </div>

                    <!-- Button (Double) addPlatform(newplatform) -->
                    <div class="form-group">
                        <button ng-click="updateConfigOptions('platform', newItem.platform, 'add' )" id="addnewplatform" name="addnewplatform" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</button>
                        <button ng-click="updateConfigOptions('platform', platform, 'delete')" id="deleteplatform" name="deleteplatform" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-md-2" id="status">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Form Name -->
                    <label>Status ({{config.status.length}})</label>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <input type="search" ng-model="searchStatus" class="form-control" placeholder="search status">
                        <br>

                        <select id="status" name="status" ng-model="status" ng-options="status for status in config.status.sort() | filter:searchStatus" class="form-control" multiple="multiple"></select>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <input ng-model="newItem.status" id="newstatus" name="newstatus" type="text" placeholder="new status" class="form-control input-md">
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <button ng-click="updateConfigOptions('status',newItem.status, 'add')" id="addnewstatus" name="addnewstatus" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</button>
                        <button ng-click="updateConfigOptions('status',status, 'delete')" id="deleteStatus" name="deletestatus" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-md-2" id="category">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Form Name -->
                    <label>Categories ({{config.category.length}})</label>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <input type="search" ng-model="searchCategory" class="form-control" placeholder="search category">
                        <br>
                        <select ng-model="category" id="category" name="category" ng-options="category for category in config.category.sort() | filter:searchCategory" class="form-control" multiple="multiple"></select>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <input ng-model="newItem.category" id="newcategory" name="newcategory" type="text" placeholder="new category" class="form-control input-md">
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <button ng-click="updateConfigOptions('category', newItem.category, 'add')" id="addNewCategory" name="addNewCategory" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</button>
                        <button ng-click="updateConfigOptions('category',category, 'delete')" id="deleteCategory" name="deleteCategory" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-md-2" id="version">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Form Name -->
                    <label>Versions ({{config.version.length}})</label>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <input type="search" ng-model="searchVersion" class="form-control" placeholder="search user">
                        <br>
                        <select ng-model="version" id="version" name="version" ng-options="version for version in config.version.sort() | filter:searchVersion" class="form-control" multiple="multiple"></select>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <input ng-model="newItem.version" id="newversion" name="newversion" type="text" placeholder="new version" class="form-control input-md">
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <button ng-click="updateConfigOptions('version', newItem.version, 'add')" id="newversion" name="newversion" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</button>
                        <button ng-click="updateConfigOptions('version', version, 'delete')" id="deleteversion" name="deleteversion" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-md-2" id="tofixin">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Form Name -->
                    <label>To fix in ({{config.tofixin.length}})</label>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <input type="search" ng-model="searchTofixin" class="form-control" placeholder="search tofixin">
                        <br>
                        <select ng-model="tofixin" id="tofixin" name="tofixin" ng-options="tofixin for tofixin in config.tofixin.sort() | filter:searchTofixin" class="form-control" multiple="multiple">
                        </select>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <input ng-model="newItem.tofixin" id="newtofixin" name="newtofixin" type="text" placeholder="new fix-in version" class="form-control input-md">
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <button ng-click="updateConfigOptions('tofixin',newItem.tofixin, 'add')" id="addnewfixin" name="addnewfixin" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</button>
                        <button ng-click="updateConfigOptions('tofixin', tofixins, 'delete')" id="deletefixin" name="deletefixin" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-md-2" id="severity">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Form Name -->
                    <label>Severity ({{config.severity.length}})</label>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <input type="search" ng-model="searchSeverity" class="form-control" placeholder="search severity">
                        <br>
                        <select ng-model="severity" id="severity" name="severity" ng-options="severity for severity in config.severity.sort() | filter:searchSeverity" class="form-control" multiple="multiple">
                        </select>
                    </div>

                    <!-- Text input -->
                    <div class="form-group">
                        <input ng-model="newItem.severity" id="newseverity" name="newseverity" type="text" placeholder="new severity" class="form-control input-md">
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <button ng-click="updateConfigOptions('severity', newItem.severity, 'add')" id="addnewseverity" name="addnewseverity" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</button>
                        <button ng-click="updateConfigOptions('severity',severity, 'delete')" id="deleteseverity" name="deleteseverity" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
  <legend>Users and Groups</legend>
    <div class="col-xs-2" id="group">
        <form class="form-horizontal">
            <fieldset>
                <!-- Form Name -->
                <label>Groups ({{config.groups.length}})</label>

                <!-- Select Multiple -->
                <div class="form-group">
                    <input type="search" ng-model="searchGroup" class="form-control" placeholder="search group">
                    <span class="fornav"><i class="icon-search"></i></span>
                    <br>
                    <select name="grouplist" id="grouplist" ng-model="grouplist" ng-change="" ng-options="group.label as group.value for group in config.groups | filter:searchGroup" class="form-control" multiple="multiple"></select>
                </div>

                <!-- Text input -->
                <div class="form-group">
                    <input ng-model="newItem.group" id="newgroup" name="newgroup" type="text" placeholder="new group" class="form-control input-md">
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <button ng-click="updateConfigOptions('groups', newItem.group, 'add')" id="addnewgroup" name="addnewgroup" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</button>
                    <button ng-click="updateConfigOptions('groups', grouplist, 'delete')" id="deletegroup" name="deletegroup" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                </div>

            </fieldset>
        </form>
    </div>


    <div class="col-md-3" id="users">
        <form class="form-horizontal">
            <fieldset>
                <!-- Form Name -->
                <label>Users ({{config.users.length}})</label>



                <div class="form-group">
                    <input type="search" ng-model="searchUser" class="form-control" placeholder="search user/group">
                    <br>
                    <select ng-model="users" id="users" name="users" class="form-control " multiple="multiple" style="height: 500px;">
                        <optgroup label="Groups">
                            <option ng-repeat="group in config.groups | filter:searchUser" value="{{group.value}}">{{group.value}}</option>
                        </optgroup>
                        <optgroup label="Users">
                            <option ng-repeat="user in config.users | filter:searchUser" value="{{user}}">
                                {{user.name}} - {{user.email}} </option>
                        </optgroup>
                    </select>
                </div>

                <!-- Select input -->
                <div class="form-group">
                    <select name="grouplist" id="grouplist" ng-model="groupname" ng-options="group.value for group in config.groups" class="form-control"></select>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <button ng-click="addUsersToGroup(groupname.value, users)" id="adduser" name="adduser" class="btn btn-sm btn-success"><i class="fa fa-plus-circle-circle"></i> Add</button>
                    <button ng-click="removeUsersFromGroup(groupname.value, users)" id="deleteuser" name="deleteuser" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> Delete</button>
                </div>

            </fieldset>
        </form>
    </div>

    <div class="col-md-4">
        <label>Group Members ({{config.groups.length}})</label>
        <div class="form-group">
            <input type="search" ng-model="searchGroupTree" class="form-control" placeholder="search group">
            <small><a href="" ng-click="expand()" class="pull-left" style="padding-top:5px;"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span>Expand</a></small>
            <small><a href="" ng-click="collapse()" class="pull-right" style="padding-top:5px;"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>Collapse</a></small>
        </div>
        <br>
            <div ivh-treeview="config.groups" id="groupsTree" ivh-treeview-filter="searchGroupTree" ivh-treeview-expand-to-depth="0" ivh-treeview-validate="false" ivh-treeview-change-handler="selectUsers2"></div>
        <br>
        <div class="form-group">
            <button ng-click="removeUsersFromGroup(node, isSelected, tree)" id="deletegroup" name="deletegroup" class="btn btn-sm btn-danger">Remove Group Members</button>
        </div>

    </div>


</div>
