        <!-- Second navbar for profile settings -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarCtrl">
      <div class="navbar-inner">
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" rel="home" href="/home">
                <img src="/assets/images/logo.png" alt="BugTrack" id="logo">
                <!--     <span class="glyphicon glyphicon-screenshot"></span>  -->
                <span class="icon-bar"></span><b>Bug</b>Track <span  id="appversion">beta</span>
            </a>
        </div>

      <div class="col-md-3">
            <form class="navbar-form" role="search" ng-submit="quickSearch(bugId)">
            <div class="input-group" id="nav-search">
                <input type="text" placeholder="Bug #" id="srch-term" ng-model="bugId">
            </div>
        </form>
        </div> 
       
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="selected('/home')">
                <a href="/home">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
            </li>
            <li class="divider-vertical"></li>
            <li ng-class="selected('/dashboard')">
                <a href="/dashboard">
                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard</a>
            </li>
            <li class="divider-vertical"></li>
             <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">  <i class="fa fa-plus"></i> New <b class="caret"></b>
                </a>
                 <ul class="dropdown-menu dropdown-menu-right">
                 <li ng-class="selected('/bug/new')">
                <a href="/bug/new">
                    <i class="fa fa-bug"></i></span>&nbsp;New Bug</a>
                </a>
            </li>
            <li ng-class="selected('/task/new')">
                <a href="/task/new">
                    <i class="fa fa-tasks"></i></span>&nbsp;New Task</a>
                </a>
            </li>
             <li ng-class="selected('/rfe/new')">
                <a href="/rfe/new">
                    <i class="fa fa-briefcase"></i></span>&nbsp;New RFE</a>
                </a>
            </li>
                 </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right: 10px"> <span class="glyphicon glyphicon-user"></span> {{navbarUser | capitalize}} <b class="caret"> </b>
                </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;My Profile</a></a>
                    </li>
                    <li><a href="/configure"><span class="glyphicon glyphicon-cog"></span>&nbsp;Configure</a></a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/reports"><span class="glyphicon glyphicon-list"></span>&nbsp;Reports</a></a>
                    </li>
                    <li ng-if="hide">
                        <a href="/login">
                            <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-if="!hide">
                        <a href="/logout">
                            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                    <li ng-if="hide">
                        <a href="/register">
                            <span class="glyphicon glyphicon-edit"></span> Signup</a>
                    </li>
              </ul>
            </li>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
