<div class="form-box" id="reg-box">
	<div class="header">Create Account</div>
	<form>
		<div class="body bg-gray">
			<fieldset>
				<div class="form-group">
			    		    <input class="form-control" ng-model="user.name" placeholder="full name" name="fullname" type="text">
			    		</div>
                    <div class="form-group">
			    		    <input class="form-control" ng-model="user.email" placeholder="email" name="email" type="text">
			    		</div>
			    	  	<div class="form-group">
			    		    <input class="form-control" ng-model="user.username" placeholder="username" name="username" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" ng-model="user.password1" placeholder="password" name="password1" type="password" value="">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" ng-model="user.password2" placeholder="password" name="password"2 type="password" value="">
			    		</div>

			</fieldset>
		</div>
		 <div class="footer bg-gray">
		 <button class="btn bg-olive btn-block" type="submit" ng-click="createUser()">Create</button>
		 </div>
	</form>
</div>
