/* tooltip */

a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips span {
    position: absolute;
    width: 180px;
    color: #FFFFFF;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
.table-nowrap {
    table-layout:fixed;
}*/

.table-nowrap td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#facet_grouplist {
    min-height: 10px;
    max-height: 300px;
    min-width: 10em;
    overflow: auto;
}

li.ivh-treeview-node-leaf {
    font-size: 10px;
}
/*#tablestyle {
      padding-bottom: 15px;
}

#tablesearch{
    padding-bottom: 10px;
  padding-right: 2px;
}*/

#historyMenu {
    width: 600px
}

@media screen and (max-width: 560px) {
    #historyMenu {
        width: 350px
    }
    #modalSuccessBtn {
        margin-right: 100px;
        margin-left: 0px;
    }
}

#historyItem > a> pre > p {
    font-size: 10px;
}

#historyItem > a:hover,
a:active,
a:focus {
    color: none;
}

#historyItem > a > pre {
    font-size: 10px;
    margin: 0 0 0 0px;
    padding: 5px;
    border: 0px solid #ccc;
    border-radius: 5px;
}

#modalSuccessBtn {
    margin-right: 200px;
    margin-left: 0px
}

.user-img {
    height: 3em;
    width: 3em;
    float: left;
    margin-right: 5px;
}

.alert {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    text-align: center;
}

#appversion {
    position: absolute;
    background-color: #D72824;
    color: white;
    padding: 1px 1px;
    border-radius: 3px;
    font-size: 11px;
    margin: -48px 155px;
}
/* sticky site footer */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
}

.site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    background-color: #f2f2f2;
    margin-top: 100px;
}

/* change list in comments */

dl#changelist dd {
     margin-top: -14px;
}