<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-init="init()">
    <div ng-include="'app/main/partials/search.partial.html'"></div>
    <!--     <input type="checkbox"  id="showFacetBox" name="showFacetBox" ng-checked="showFacetBox()"> -->


<!--     <a href="" ng-click="showFacetBox()">
        <span id="showFacetBox" class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> -->
<!-- <table style="display:block; width:10px;height:200px;float:left;background-color:black;" border="1" class="rowlink" data-link="row">
    <tr colspan="10%" href="#">
        <td>
        </td>
    </tr>
</table> -->
<div id="facetBox" class="col-md-2">
    <div ng-include="'app/main/partials/facets.partial.html'"></div>
</div>

<div class="col-md-10">
<tabset>
 <tab ng-repeat="tab in tabs" heading="{{tab.title}}s" active="tab.active" disabled="tab.disabled" select="getItems(tab.title)"><br>
      <div ng-include="'app/main/partials/buglist.partial.html'" ng-if="tab.title == 'Bug'"></div>
       <div ng-include="'app/main/partials/tasklist.partial.html'" ng-if="tab.title == 'Task'"></div>
    </tab>
    </tabset>

<!-- <tabset>
    <tab heading="Bugs" select="getItems('Bug')">
    <br>
    	<div ng-include="'app/main/partials/buglist.partial.html'"></div>
    </tab>
    <tab heading="Tasks" select="getItems('Task')">
    <br>
    	<div ng-include="'app/main/partials/tasklist.partial.html'"></div>
    </tab>
  </tabset> -->
		
</div>





<!-- http://stackoverflow.com/a/25922380/1105556 -->
