<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-init="init()" class="col-md-12">
    <div class="row">
        <div ng-include="'app/main/partials/search.partial.html'"></div>
    </div>
<!--     <div class="row">
        <table>
            <tr>
                <td>
                    <label for="">Sidebar</label>
                    <br>
                    <div class="btn-group btn-group-xs">
                        <label class="btn btn-success" ng-model="userPref.facetBox" ng-change="userPref.hideFacetBox()" btn-radio="'Left'">Hide</label>
                        <label class="btn btn-success" ng-model="userPref.facetBox" ng-change="userPref.showFacetBox()" btn-radio="'Right'">Show</label>
                    </div>
                </td>
            </tr>
        </table>
    </div> -->
    <br>
    <div class="row">
        <div id="facetBox" class="col-md-2">
            <div ng-include="'app/main/partials/facets.partial.html'"></div>
        </div>
        <div ng-class="tableWidth">
            <tabset class="nav-tabs-custom">
                <tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled" select="getItems(tab.title)" style="cursor:pointer;">
                    <tab-heading> <i class="fa" ng-class="{'fa-bug': tab.title == 'Bug', 'fa-tasks': tab.title == 'Task'}"></i> <b>{{tab.title}}s</b>
                    </tab-heading>
                    <div ng-include="'app/main/partials/buglist.partial.html'" ng-if="tab.title == 'Bug'"></div>
                    <div ng-include="'app/main/partials/tasklist.partial.html'" ng-if="tab.title == 'Task'"></div>
                </tab>
            </tabset>
        </div>
    </div>
