/* advanced search link */
#advSrch{
  cursor: pointer;
}

/* advanced search options */
.input-xsm {
  height: 20px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.form-control.input-xsm {
  height: 20px;
  line-height: 30px;
  width:140px;
}

label.xsm-label{
  font-size: smaller;
}


#adv-search-form > div.col-md-1, 
#adv-search-form > div.col-md-2,
#adv-search-form > div.col-md-3{
  padding-right: 5px;
  border-right: 1px solid #E4DFDF;
}

label.sm{
  margin-top: 5px;
  margin-bottom: 2px;
}

hr {
margin-top: 10px;
margin-bottom: 2px;
border: 0;
border-top: 1px solid #eee;
}

.left-side {
  position: relative;
  width: 100%;
  top: 0;
}

.badge{
  border-radius: 4px;
}

#facetBox {
  padding-left: 1px;
  padding-right: 5px;
}
