<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-xs-12 col-sm-4 col-md-3 pull-left">
    <div class="panel panel-info">
        <div class="panel-heading" style="height: 40px">
            <div class="pull-left">
                <h3 class="panel-title">
                <i class="fa fa-briefcase"></i>
            <a ng-href="/rfe/{{rfe.id}}">RFE -  {{rfe.id}}</a>
            </h3>
            </div>
            <div class="pull-right" ng-show="showSubscribe">
                <a class="pointer" tooltip="Subscribe" ng-click="subscribe()">
                    <span class="glyphicon glyphicon-star-empty"></span>
                </a>
            </div>
            <div class="pull-right" ng-show="showUnsubscribe">
                <a class="pointer" tooltip="Unsubscribe" ng-click="unsubscribe()">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </div>
        </div>
        <!--   <form name="rfeForm"> -->
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Status</b>
                    </td>
                    <!-- 
  <td colspan="" rowspan="" ng-model="status" editable-select="rfe.status" e-ng-options="s as s for s in config.status" onbeforesave="updateStatus($data)">{{rfe.status}}</td>
  -->
                    <td>
                        <select name="status" id="status" ng-model="rfe.status" ng-options="status for status in config.status" class="form-control input-sm">
                            <option value="{{rfe.status}}" selected></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Severity</b>
                        <td>
                            <select id="severity" ng-model="rfe.severity" name="severity" type="text" class="form-control input-sm" ng-options="severity for severity in config.severity">
                            </select>
                        </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Category</b>
                    </td>
                    <td>
                        <select id="category" ng-model="rfe.category" name="category" type="text" class="form-control input-sm" ng-options="category for category  in config.category | orderBy: category" </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Version</b>
                    </td>
                    <td>
                        <select id="version" ng-model="rfe.version" name="version" type="text" class="form-control input-sm" ng-options="version group by version[0] for version in config.version">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Priority</b>
                    </td>
                    <!-- <td colspan="" rowspan="" editable-select="rfe.priority" e-ng-options="p.level as p.title for p in config.priority">{{rfe.priority}}</td> -->
                    <td>
                        <select id="priority" ng-model="rfe.priority" name="priority" type="text" class="form-control input-sm" ng-options="(priority.level + ' - ' + priority.title) for priority in config.priority">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>To fix in</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="tofixin" ng-model="rfe.tofixin" name="tofixin" type="text" class="form-control input-sm" ng-options="tofixin for tofixin in config.tofixin | orderBy: tofixin">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Fixed in</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="fixedin" ng-model="rfe.fixedin" name="fixedin" type="text" class="form-control input-sm" ng-options="fixedin for fixedin in config.tofixin | orderBy: fixedin">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Assigned To</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="assignTo" ng-model="rfe.assignTo" name="assignTo" type="text" class="form-control input-sm" ng-options="user.name group by user.name[0] for user in config.users">
                        </select>
                    </td>
                </tr>
                <tr ng-show="rfe.completedAt">
                    <td colspan="" rowspan="" class="hidden-md"><b>Completed on</b>
                    </td>
                    <td colspan="" rowspan="">{{rfe.completedAt | date: 'medium'}}</td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Subscribers</b>
                    </td>
                    <td colspan="" rowspan="">
                        <ul ng-repeat="subscriber in rfe.subscribers" class="list-inline">{{subscriber.name}}</ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Created by</b>
                    </td>
                    <td colspan="" rowspan="">{{rfe.submittedBy.name}}</td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Created on</b>
                    </td>
                    <td colspan="" rowspan="">{{rfe.createdAt | date: 'medium'}}</td>
                </tr>
            </table>
            <span class="label label-default" class="hidden-md">Related tasks</span>
            <div class="bg-gray">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Sub Tasks</b>
                            </td>
                            <td>
                                <ul ng-repeat="subtask in rfe.subTasks" class="list-inline" style="display: inline-block;">
                                    <li><a href="/task/{{subtask.id}}">{{subtask.id}}</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Procedural Tasks</b>
                            </td>
                            <td>
                                <ul ng-repeat="pTask in allProceduralTasks" class="list-inline" style="display: inline-block;">
                                    <li>
                                        <a href="/task/{{pTask}}">{{pTask}}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- task details  -->
<div class="col-xs-12 col-sm-8 col-md-9">
    <div ng-include="'app/rfe/view/partials/rfeInfo.partial.html'"></div>
    <!-- <form class="form-horizontal"> -->
    <accordion close-others="oneAtATime">
        <accordion-group is-open="accordion.status.isFirstOpen" style="cursor:pointer">
            <accordion-heading><i class="fa" ng-class="{'fa-chevron-circle-down': accordion.status.open, 'fa-chevron-circle-right': !accordion.status.open}"></i>&nbsp;Engineering Task List</accordion-heading>
            <form class="form-horizontal">
             <span><p ng-bind-html="message" class="text-green"></p></span>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="headline">Show in Task List</label>
                    <div class="col-md-6">
                        <p class="form-control-static">
                            <input type="checkbox" ng-model="rfe.includeInTaskList" ng-change="toggleTaskListInclusion(rfe.includeInTaskList)">
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="headline">Procedural Tasks</label>
                    <div class="col-md-8">
                        <table class="table table-hover table-responsive">
                            <tbody ng-repeat="pTask in proceduralTaskTypes">
                                <tr>
                                    <td style="max-width:80px">{{pTask}}</td>
                                    <td style="max-width:100px">
                                        <ul class="list-inline" style="display: inline-block;" ng-repeat="t in rfe.proceduralTasks[pTask]">
                                            <li><a href="/task/{{t}}">{{t}}</a>
                                            </li>
                                        </ul>
                    </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success  btn-flat btn-sm" ng-click="createProceduralTask(pTask)"><span class="glyphicon glyphicon-plus"></span></button>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
</div>
</form>
<div class="form-group">
    <label class="col-md-2 control-label" for="headline">
        </i> Sub Tasks <small>({{rfe.subTasks.length}})</small></label>
    <div class="col-md-8">
        <p class="form-control-static" ng-if="rfe.subTasks.length == 0"> No sub tasks</p>
        <div ng-include="'app/rfe/view/partials/subtasksTable.partial.html'"></div>
        <form name="newSubTask">
            <div class="input-group input-group-sm">
                <input type="text" id="subtask_title" name="subtask_title" ng-model="rfe.subtaskTitle" class="form-control" placeholder="enter sub-task title" required/>
                <span class="input-group-btn">
                <button class="btn btn-success btn-flat btn-sm"  ng-click="createSubTask()" ng-disabled="newSubTask.$invalid" tooltip-trigger tooltip-placement="right" tooltip="create sub-task"><span class="glyphicon glyphicon-plus"></span> </button>
                </span>
            </div>
        </form>
    </div>
</div>
</accordion-group>
</accordion>
<div ng-include="'app/rfe/view/partials/comments.partial.html'"></div>
<form name="commentForm">
    <!-- <text-angular ta-toolbar="[['p','bold','pre', 'italics', 'underline', 'ul', 'ol', 'indent', 'outdent','insertLink','insertImage', 'insertVideo']]" ng-model="newcomment" id="newcomment" name="newcomment" placeholder="Add a comment here"></text-angular> -->
    <text-angular ta-toolbar="[['p','bold','pre','quote', 'italics', 'underline', 'ul', 'ol', 'indent', 'outdent','insertLink','insertImage', 'insertVideo']]" ng-model="rfe.comment" id="comment" name="comment" placeholder="Add a comment here"></text-angular>
    <br>
    <input type="file" file-upload multiple/>
    <ul>
        <li ng-repeat="file in files">{{file.name}}</li>
    </ul>
    <button ng-click="updateRFE()" id="updaterfe" name="updaterfe" class="btn btn-primary btn-danger">Update</button>
</form>
</div>
