        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Status</b>
                    </td>
                    <!-- 
  <td colspan="" rowspan="" ng-model="status" editable-select="bug.status" e-ng-options="s as s for s in config.status" onbeforesave="updateStatus($data)">{{bug.status}}</td>
  -->
                    <td>
                        <select id="status" ng-model="status" name="status" type="text" class="form-control input-sm">
                            <option ng-repeat="status in config.status.sort()" ng-selected="status === bug.status" value="{{status}}">
                                {{status}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Severity</b>
                    </td>
                    <!-- <td colspan="" rowspan="" editable-select="bug.severity" e-ng-options="s as s for s in config.severity">{{bug.severity}}</td> -->
                    <td>
                        <select id="status" ng-model="severity" name="severity" type="text" class="form-control input-sm">
                            <option ng-repeat="severity in config.severity.sort()" ng-selected="severity === bug.severity" value="{{severity}}">
                                {{severity}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Category</b>
                    </td>
                    <!--    <td colspan="" rowspan="" editable-select="bug.category" e-ng-options="c as c for c in config.categories">{{bug.category}}</td>
    -->
                    <td>
                        <select id="category" ng-model="category" name="category" type="text" class="form-control input-sm">
                            <option ng-repeat="category in config.category.sort()" ng-selected="category === bug.category" value="{{category}}">
                                {{category}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Priority</b>
                    </td>
                    <!-- <td colspan="" rowspan="" editable-select="bug.priority" e-ng-options="p.level as p.title for p in config.priority">{{bug.priority}}</td> -->
                    <td>
                        <select id="priority" ng-model="priority" name="priority" type="text" class="form-control input-sm">
                            <option ng-repeat="priority in config.priority" ng-selected="priority.level === bug.priority.level" value="{{priority}}">
                                {{priority.level}} - {{priority.title}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Version</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="version" ng-model="version" name="version" type="text" class="form-control input-sm">
                            <option ng-repeat="version in config.version.sort()" ng-selected="version == bug.version" value="{{version}}">
                                {{version}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Platform</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="platform" ng-model="platform" name="platform" type="text" class="form-control input-sm">
                            <option ng-repeat="platform in config.platform.sort()" ng-selected="platform == bug.platform" value="{{platform}}">
                                {{platform}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>To fix in</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="tofixin" ng-model="tofixin" name="tofixin" type="text" class="form-control input-sm">
                            <option ng-repeat="tofixin in config.tofixin.sort()" ng-selected="tofixin == bug.tofixin" value="{{tofixin}}">
                                {{tofixin}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Fixed in</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="fixedin" ng-model="fixedin" name="fixedin" type="text" class="form-control input-sm">
                            <option ng-repeat="fixedin in config.tofixin.sort()" ng-selected="fixedin === bug.fixedin" value="{{fixedin}}">
                                {{fixedin}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Assigned To</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="assignTo" ng-model="assignTo" name="assignTo" type="text" class="form-control input-sm">
                            <option ng-repeat="assignTo in config.users" ng-selected="assignTo.name === bug.assignTo.name" value="{{assignTo}}">
                                {{assignTo.name}}
                            </option>
                            <!--  <option ng-repeat="assignTo in config.users" ng-selected="bug.assignTo.name" value="{{assignTo}}">
                                {{assignTo.name}}
                            </option> -->
                        </select>
                    </td>
                </tr>
                <tr ng-show="bug.memory">
                    <td colspan="" rowspan="" class="hidden-md"><b>Memory Size</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.memory}}</td>
                </tr>
                <tr ng-show="bug.resolvedAt">
                    <td colspan="" rowspan="" class="hidden-md"><b>Resolved on</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.resolvedAt | date: 'medium'}}</td>
                </tr>
                <tr ng-show="bug.testedAt">
                    <td colspan="" rowspan="" class="hidden-md"><b>Tested on</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.resolvedAt | date: 'medium'}}</td>
                    <!-- same as resolved date -->
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Reported on</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.createdAt | date: 'medium'}}</td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Subscribers</b>
                    </td>
                    <td colspan="" rowspan="">
                        <ul ng-repeat="subscriber in bug.subscribers">{{subscriber.name}}</ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan="" class="hidden-md"><b>Reported by</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.submittedBy.name}}</td>
                </tr>
            </table>
            <span class="label label-default" class="hidden-md">Related bugs</span>
            <div class="bg-gray">
                <table class="table">
                    <tr ng-show="bug.cloneOf">
                        <td colspan="" rowspan="" class="hidden-md"><b>Clone of</b>
                        </td>
                        <td colspan="" rowspan=""><a ng-href="/bug/{{bug.cloneOf}}">{{bug.cloneOf}}</a>
                        </td>
                    </tr>
                    <tr ng-hide="bug.cloneOf">
                        <td colspan="" rowspan="" class="hidden-md"><b>Clones</b>
                        </td>
                        <td colspan="" rowspan="">
                            <ul ng-repeat="clone in bug.clones" class="list-inline" style="display: inline-block;">
                                <li><a ng-href="#/bug/{{clone}}"><span class="label label-success">{{clone}}</span></a>
                                </li>
                            </ul>
                            <a class="btn btn-sm btn-warning" ng-href="" ng-click="clone(bug.id)"><i class="fa fa-files-o"></i></span> Clone</a>
                        </td>
                    </tr>
                </table>
            </div>