<div ng-include="'components/navbar/navbar.html'"></div> 
<div >
    
 <tabset class="nav-tabs-custom">
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" style="cursor:pointer;" select="selectTab(tab.hash)">
        <div ng-if="tab.title === 'Field Options' " ng-include="'app/configure/partials/options.partial.html'"></div> 
        <div  ng-if="tab.title === 'GitHub' " ng-include="'app/configure/partials/github.partial.html'"></div>      
    </tab>
  </tabset>


