 <div ng-include="'components/navbar/navbar.html'"></div>
 <div class="container-fluid">
<legend>Configure Bug Field Options</legend>
<div class="row">
<div class="col-md-3">
  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Users ({{config.users.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="users" id="users" name="users" class="form-control " multiple="multiple" style="height: 500px;">
    <option ng-repeat="user in config.users"  value="{{user}}">
  {{user.name}} - {{user.email}} </option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newuseremail" id="newuseremail" name="newuseremail" type="text" placeholder="email" class="form-control input-md"><br>
   <input ng-model="newusername" id="newusername" name="newusername" type="text" placeholder="full name" class="form-control input-md"><br>
    <input ng-model="newuserusername" id="newuserusername" name="newuserusername" type="text" placeholder=" username" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addUser(newuseremail, newusername, newuserusername)" id="addnewuser" name="addnewuser" class="btn btn-sm btn-success">Add</button>
    <button ng-click="deleteUser(users)" id="deleteuser" name="deleteuser" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-2">
  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Kind ({{config.kind.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="kind" id="kind" name="kind" class="form-control" multiple="multiple">
    <option ng-repeat="kind in config.kind.sort()"  value="{{kind}}">{{kind}}</option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newItem.kind" id="newkind" name="newkind" type="text" placeholder="new kind" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="updateConfigOptions('kind', newItem.kind, 'add')" id="addnewkind" name="addnewkind" class="btn btn-sm btn-success">Add</button>
    <button ng-click="updateConfigOptions('kind', kind, 'delete')" id="deletekind" name="deletekind" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>

  <div class="col-md-1"></div>

    <div class="col-md-2">
  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Platforms ({{config.platform.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="platform" id="platform" name="platform" class="form-control" multiple="multiple">
    <option ng-repeat="platform in config.platform"  value="{{platform}}">{{platform}}</option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newItem.platform" id="newplatform" name="newplatform" type="text" placeholder="new platform" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) addPlatform(newplatform) -->
<div class="form-group">
    <button ng-click="updateConfigOptions('platform', newItem.platform, 'add' )" id="addnewplatform" name="addnewplatform" class="btn btn-sm btn-success">Add</button>
    <button ng-click="updateConfigOptions('platform', platform, 'delete')" id="deleteplatform" name="deleteplatform" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>

  <div class="col-md-1"></div>
  <div class="col-md-2">
  	  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Status ({{config.status.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="status" id="status" name="status" class="form-control" multiple="multiple">
  <option ng-repeat="status in config.status.sort()" value="{{status}}">{{status}}</option>
    </select>
</div>

<!-- Text input-->
<div class="form-group">
  <input ng-model="newItem.status" id="newstatus" name="newstatus" type="text" placeholder="new status" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="updateConfigOptions('status',newItem.status, 'add')" id="addnewstatus" name="addnewstatus" class="btn btn-sm btn-success">Add</button>
    <button ng-click="updateConfigOptions('status',status, 'delete')" id="deleteStatus" name="deletestatus" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
   <div class="col-md-1"></div>
  <div class="col-md-2">
 <form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Categories ({{config.category.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="category" id="category" name="category" class="form-control" multiple="multiple">
  <option ng-repeat="category in config.category.sort()" value="{{category}}">{{category}}</option>
    </select>
</div>

<!-- Text input-->
<div class="form-group">
  <input ng-model="newItem.category" id="newcategory" name="newcategory" type="text" placeholder="new category" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="updateConfigOptions('category', newItem.category, 'add')" id="addNewCategory" name="addNewCategory" class="btn btn-sm btn-success">Add</button>
    <button ng-click="updateConfigOptions('category',category, 'delete')" id="deleteCategory" name="deleteCategory" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
   <div class="col-md-1"></div>
  <div class="col-md-2">
<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Versions ({{config.version.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="version" id="version" name="version" class="form-control" multiple="multiple">
  <option ng-repeat="version in config.version.sort()" value="{{version}}">{{version}}</option>
    </select>
</div>

<!-- Text input-->
<div class="form-group">
  <input ng-model="newItem.version" id="newversion" name="newversion" type="text" placeholder="new version" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="updateConfigOptions('version', newItem.version, 'add')" id="newversion" name="newversion" class="btn btn-sm btn-success">Add</button>
    <button ng-click="updateConfigOptions('version', version, 'delete')" id="deleteversion" name="deleteversion" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>

 <div class="col-md-1"></div>
  <div class="col-md-2">
<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>To fix in ({{config.tofixin.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="tofixins" id="tofixins" name="tofixins" class="form-control" multiple="multiple">
  <option ng-repeat="tofixin in config.tofixin.sort()" value="{{tofixin}}">{{tofixin}}</option>
    </select>
</div>

<!-- Text input-->
<div class="form-group">
  <input ng-model="newItem.tofixin" id="newtofixin" name="newtofixin" type="text" placeholder="new fix-in version" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="updateConfigOptions('tofixin',newItem.tofixin, 'add')" id="addnewfixin" name="addnewfixin" class="btn btn-sm btn-success">Add</button>
    <button ng-click="updateConfigOptions('tofixin', tofixins, 'delete')" id="deletefixin" name="deletefixin" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
<div class="col-md-1"></div>
    <div class="col-md-2">
  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Severity ({{config.severity.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="severity" id="severity" name="severity" class="form-control" multiple="multiple">
    <option ng-repeat="severity in config.severity.sort()"  value="{{severity}}">{{severity}}</option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newItem.severity" id="newseverity" name="newseverity" type="text" placeholder="new severity" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="updateConfigOptions('severity', newItem.severity, 'add')" id="addnewseverity" name="addnewseverity" class="btn btn-sm btn-success">Add</button>
    <button ng-click="updateConfigOptions('severity',severity, 'delete')" id="deleteseverity" name="deleteseverity" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
</div>
<hr>
<div class="col-md-3">
    <form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Users ({{config.users.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="users" id="users" name="users" class="form-control " multiple="multiple" style="height: 500px;">
    <option ng-repeat="user in config.users"  value="{{user}}">
  {{user.name}} - {{user.email}} </option>
    </select>
</div>

<!-- Select input -->
<div class="form-group">
<select name="groupslist" id="groupslist" class="form-control">
<option value="{{group}}" ng-model="groupname" ng-repeat="group in config.groups">{{group}}</option>
</select>
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addUserToGroup(newuser, user, userusername)" id="adduser" name="adduser" class="btn btn-sm btn-success">Add</button>
    <button ng-click="removeUserFromGroup(users)" id="deleteuser" name="deleteuser" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>

<div class="col-md-1"></div>
  <div class="col-md-2">
    <form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Groups ({{config.groups.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="group" id="group" name="group" class="form-control" multiple="multiple">
    <option ng-repeat="group in config.groups.sort()"  value="{{group}}">{{group}}</option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newItem.group" id="newgroup" name="newgroup" type="text" placeholder="new group" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="updateConfigOptions('groups', newItem.group, 'add')" id="addnewgroup" name="addnewgroup" class="btn btn-sm btn-success">Add</button>
    <button ng-click="updateConfigOptions('groups', group, 'delete')" id="deletegroup" name="deletegroup" class="btn btn-sm btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>



</div>
